<!-- Want To work -->
<section class="wantToWork-area" style="height: 220px;">
    <div>
        <div class="wants-wrapper w-padding2  section-bg background-img">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Lets Change The World With Humanity</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a routerLink="/event-list" class="btn white-btn f-right sm-left">Become A Volunteer</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-low-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <div class="section-tittle mb-35">
                        <span>Help People, Our Main Goals</span>
                        <h2>JuanBayan is a crowdfunding platform dedicated to amplifying the voices and stories of disadvantaged individuals...</h2>
                    </div>
                </div>
                <a routerLink="/events" class="btn">Create Event</a>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="container">
                    <!-- Section Tittle -->
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
                            <div class="section-tittle text-center mb-10">
                                <span>Our Events</span>
                                <h3 class="text-dark">Latest post from our recent Events</h3>
                            </div>
                        </div>
                    </div>
                    <div class="container home-blog-area">
                        <div class="row justify-content-center" *ngIf="activeApprovedEvents.length > 0;">
                            <div class="col-xl-6 col-lg-6 col-md-10" *ngFor="let eventItem of activeApprovedEvents | slice:0:5" (click)="viewEventDetails(eventItem.Event_ID)">
                                <div class="home-blog-single mb-10">
                                    <div class="blog-img-cap">
                                        <div class="blog-img">
                                            <img
                                                [src]="getImagePath('assets/'+ eventItem.Event_Image)"
                                                [alt]="eventItem.Event_Name"
                                                style="height: 300px; width: 100%; object-fit: cover;"
                                            />  
                                            <!-- Blog date -->
                                            <div class="blog-date text-center background-color">
                                                <span>{{ eventItem.Event_Start_Date | date: 'd' }}</span>
                                                <p>{{ eventItem.Event_Start_Date | date: 'MMMM' }}</p>
                                            </div>
                                        </div>
                                        <div class="blog-cap">
                                            <p>{{ eventItem.Event_Name }}</p>
                                            <h3><a (click)="viewEventDetails(eventItem.Event_ID)" class="text-decoration-none">{{ eventItem.Event_Location }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Cases Start -->
<div class="our-cases-area section-padding30 shadow-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Our Cases you can see</span>
                    <h2>Explore our latest causes that we works</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let campaign of campaigns">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img [src]="getImagePath('assets/' + campaign.Campaign_Image)" alt="{{ campaign.Campaign_Name }}">
                    </div>
                    <div class="cases-caption">
                        <h3><a routerLink="/campaign-details/{{ campaign.Campaign_ID }}">{{campaign.Campaign_Name}}</a></h3>
                        <!-- Progress Bar -->
                        <div class="single-skill mb-15">
                            <div class="bar-progress">
                                <div id="bar1" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" role="progressbar" [style.width.%]="progressPercentage">
                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- / progress -->
                        <div class="prices d-flex justify-content-between">
                            <p>Raised:<span> ₱{{campaign.Campaign_CurrentRaised}}</span></p>
                            <p>Goal:<span> ₱{{campaign.Campaign_TargetFund}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Cases End -->
<!--? Testimonial Start -->
<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-40">
                                    <img src="assets/user-bootstrap/charityworks-master/assets/img/gallery/testimonial.png" alt="">
                                    <span>Margaret Lawson</span>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<style>
    .background-img {
   position: relative;
   background-image: url(assets/user-bootstrap/charityworks-master/assets/img/gallery/section_bg02.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-color: #80C4E9; /* Ensures the color remains visible */
}

.background-color{
        background-color: #80C4E9; /* Ensures the color remains visible */
}

.background-img::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #80C4E9; /* Same background color */
   opacity: 0.6; /* Adjust opacity as needed */
   z-index: 1; /* Keeps the overlay on top of the image */
}

.background-img1 {
   position: relative;
   background-image: url(assets/user-bootstrap/charityworks-master/assets/img/gallery/section_bg03.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.background-img1::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and transparency */
   z-index: 1; /* Keeps the overlay on top of the image */
}

</style>
