<div class="modal-header">
    <h5 class="modal-title">Terms and Conditions</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <p>Please read and accept the following terms and conditions to join as a volunteer.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.</p>
    <!-- Add more terms here -->
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmVolunteer()">Accept and Join</button>
  </div>
  