<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
              <div class="container-fluid">
                  <!-- Page Heading -->
                  <h1 class="h3 mb-2 text-gray-800">Rewards</h1>
                  <p class="mb-4">This Rewards is designed to streamline the review process.</p>
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                      <div class="card-header center">
                        <div class="row">
                          <div class="col-md-10">
                            <h6 class="m-3 font-weight-bold text-primary">Reward List</h6>
                          </div>
                          <div class="col-md-2">
                            <button (click)="openAddModal()" class="btn btn-primary m-2">
                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create</button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-striped" id="dataTable" width="100%" cellspacing="10">
                                  <thead>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Point Cost</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let reward of rewards">
                                      <td>
                                          <img [src]="'http://localhost:4000/assets/' + reward.reward_Image" alt="{{ reward.reward_Name }}" width="100">
                                      </td>
                                      <td>{{ reward.reward_Name }}</td>
                                      <td>{{ reward.reward_Description }}</td>
                                      <td>{{ reward.reward_PointCost }}</td>
                                      <td>{{ reward.reward_Quantity }}</td>
                                      <td>{{ reward.reward_Status }}</td>
                                      <td>
                                          <button (click)="openEditModal(reward)" class="btn btn-sm btn-primary mr-1">Edit</button>
                                          <button (click)="deleteReward(reward.id)" class="btn btn-danger btn-sm">Delete</button>
                                      </td>
                                    </tr>                      
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>
  
</div>
<div class="modal fade" id="rewardModal" tabindex="-1" aria-labelledby="rewardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rewardModalLabel">{{ isEditing ? 'Edit Reward' : 'Add Reward' }}</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="rewardForm" (ngSubmit)="saveReward()">
          <div class="mb-3">
            <label for="rewardName" class="form-label">Reward Name</label>
            <input type="text" id="rewardName" formControlName="reward_Name" 
                   class="form-control" 
                   [ngClass]="{ 'is-invalid': rewardForm.get('reward_Name')?.invalid && rewardForm.get('reward_Name')?.touched }">
            <div *ngIf="rewardForm.get('reward_Name')?.invalid && rewardForm.get('reward_Name')?.touched" class="invalid-feedback">
              Reward Name is required.
            </div>
          </div>

          <div class="mb-3">
            <label for="rewardDescription" class="form-label">Reward Description</label>
            <textarea id="rewardDescription" formControlName="reward_Description" 
                      class="form-control" 
                      [ngClass]="{ 'is-invalid': rewardForm.get('reward_Description')?.invalid && rewardForm.get('reward_Description')?.touched }"></textarea>
            <div *ngIf="rewardForm.get('reward_Description')?.invalid && rewardForm.get('reward_Description')?.touched" class="invalid-feedback">
              Reward Description is required.
            </div>
          </div>

          <div class="mb-3">
            <label for="rewardPointCost" class="form-label">Point Cost</label>
            <input type="number" id="rewardPointCost" formControlName="reward_PointCost" 
                   class="form-control" 
                   [ngClass]="{ 'is-invalid': rewardForm.get('reward_PointCost')?.invalid && rewardForm.get('reward_PointCost')?.touched }">
            <div *ngIf="rewardForm.get('reward_PointCost')?.invalid && rewardForm.get('reward_PointCost')?.touched" class="invalid-feedback">
              Point Cost is required and must be a positive number.
            </div>
          </div>

          <div class="mb-3">
            <label for="rewardQuantity" class="form-label">Quantity</label>
            <input type="number" id="rewardQuantity" formControlName="reward_Quantity" 
                   class="form-control" 
                   [ngClass]="{ 'is-invalid': rewardForm.get('reward_Quantity')?.invalid && rewardForm.get('reward_Quantity')?.touched }">
            <div *ngIf="rewardForm.get('reward_Quantity')?.invalid && rewardForm.get('reward_Quantity')?.touched" class="invalid-feedback">
              Quantity is required and must be a positive number.
            </div>
          </div>

          <div class="mb-5">
            <label for="rewardImage" class="form-label">Reward Image</label>
            <div class="custom-file-input-wrapper">
              <label class="custom-file-label" for="rewardImage">
                <span *ngIf="!selectedFileName">Choose file...</span>
                <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
              </label>
              <input 
                type="file" 
                class="custom-file-input" 
                id="rewardImage" 
                (change)="onFileChange($event)">
            </div>
            <div *ngIf="rewardForm.get('reward_Image')?.invalid && rewardForm.get('reward_Image')?.touched" class="invalid-feedback">
              Reward Image is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn" 
                [ngClass]="{ 'btn-genric-primary': rewardForm.valid, 'btn-disabled': !rewardForm.valid }" 
                [disabled]="!rewardForm.valid"
                (click)="saveReward()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{ isEditing ? 'Save Changes' : 'Add Reward' }}</button>
      </div>
    </div>
  </div>
</div>

<style>
  .custom-file-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-file-label {
  display: block;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-file-label:hover {
  background-color: #f8f9fa;
}

.custom-file-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
</style>

