<div class="container mt-5">
    <h2 class="mb-4">Events List</h2>
  
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Event Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Approval Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td><input type="checkbox"></td>
          <td>{{ event.Event_Name }}</td>
          <td>{{ event.Event_Description }}</td>
          <td>{{ event.Event_Start_Date | date:'MM/dd/yyyy' }}</td>
          <td>{{ event.Event_End_Date | date:'MM/dd/yyyy' }}</td>
          <td>{{ event.Event_Location }}</td>
          <td>{{ getEventStatus(event.Event_Status) }}</td>
          <td>{{ event.Event_ApprovalStatus }}</td>
          <td>
            <div class="actions">
              <button class="btn btn-success btn-sm" (click)="approveEvent(event.Event_ID); $event.stopPropagation()">Approve</button> &nbsp;
              <button class="btn btn-danger btn-sm" (click)="openRejectionModal(event.Event_ID, rejectionModal); $event.stopPropagation()">Reject</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<ng-template #rejectionModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Reject Event</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <textarea [(ngModel)]="rejectionNote" class="form-control" rows="3" placeholder="Enter the reason for rejection"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="rejectEventWithNote(selectedEventId, modal)">Reject</button>
  </div>
</ng-template>