<link rel="stylesheet" href="./global.landing-page.css" />
<link rel="stylesheet" href="./landing-page.component.css" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sue Ellen Francisco:wght@400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shippori Mincho:wght@700;800&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"/>


<div class="body">
    <div class="landing-page">
        <section class="background-image">
          <div class="background"></div>
          <div class="background1"></div>
        </section>
        <img class="image-196-icon" alt="" src="./public/image-196@2x.png" />
        <section class="about-wrapper">
          <div class="about1">
            <h1 class="about-us">About Us</h1>
            <div class="about-content">
              <div class="mission">
                <div class="mission-statement">
                  <h1 class="help-people-our-container">
                    <p class="help-people">Help People,</p>
                    <p class="our-main-goals">Our Main Goals</p>
                  </h1>
                  <h2 class="juanbayan-is-a-container">
                    <p class="juanbayan-is-a">
                      JuanBayan is a crowdfunding platform dedicated to amplifying
                      the voices and stories of disadvantaged individuals. We
                      bridge the gap between those in need and a global community
                      of generous supporters. Here, you can create campaigns to
                      raise funds for critical expenses, life-changing
                      opportunities, or simply a helping hand during difficult
                      times.
                    </p>
                    <p class="blank-line">&nbsp;</p>
                    <p class="whether-its-supporting">
                      Whether it's supporting medical bills, educational
                      aspirations, or basic necessities, every contribution makes
                      a real difference. Join us in fostering a more compassionate
                      world, one story at a time.
                    </p>
                  </h2>
                </div>
                <div class="impact">
                  <div class="donation-goal">
                    <div class="content6">
                      <div class="donation">
                        <div class="type-labels">
                          <div class="type-icons">
                            <div class="icons">
                              <img
                                class="icon"
                                loading="lazy"
                                alt=""
                                src="./public/icon.svg"
                              />
    
                              <img
                                class="icon1"
                                loading="lazy"
                                alt=""
                                src="./public/icon-1.svg"
                              />
    
                              <img
                                class="icon2"
                                loading="lazy"
                                alt=""
                                src="./public/icon-2.svg"
                              />
                            </div>
                          </div>
                          <div class="food-donation-money-container">
                            <p class="food-donation">Food Donation</p>
                            <p class="money-donation">Money Donation</p>
                            <p class="dress-donation">Dress Donation</p>
                          </div>
                        </div>
                        <div class="type-labels1">
                          <div class="type-labels-inner">
                            <div class="icon-parent">
                              <img
                                class="icon3"
                                loading="lazy"
                                alt=""
                                src="./public/icon-3.svg"
                              />
    
                              <img
                                class="icon4"
                                loading="lazy"
                                alt=""
                                src="./public/icon-4.svg"
                              />
    
                              <img
                                class="icon5"
                                alt=""
                                src="./public/icon-5.svg"
                              />
                            </div>
                          </div>
                          <div class="water-supplay-education-container">
                            <p class="water-supplay">Water Supplay</p>
                            <p class="education-donation">Education Donation</p>
                            <p class="toys-donation">Toys Donation</p>
                          </div>
                        </div>
                      </div>
                      <div class="chart">
                        <div class="display-text">
                          <div class="total-donation">Total Donation</div>
                        </div>
                        <div class="chart-details">
                          <img
                            class="chart-icon"
                            alt=""
                            src="./public/chart.svg"
                          />
    
                          <div class="display-text1">
                            <div class="collection-5m">Collection - $5M</div>
                            <div class="goal-10m">Goal - $10M</div>
                          </div>
                        </div>
                      </div>
                      <button class="button9">
                        <div class="donate-now">Donate Now</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="button10">
                <div class="more-about">More About</div>
              </button>
            </div>
          </div>
        </section>
        <section class="causes">
          <div class="causes-heading">
            <div class="causes-heading-child"></div>
            <div class="causes-title">
              <div class="latest-causes">Latest Causes</div>
              <div class="divider"></div>
            </div>
            <div class="causes-content">
              <div class="causes-description">
                <div class="description">
                  <h1 class="find-the-popular-container">
                    <p class="find-the-popular">Find the popular cause</p>
                    <p class="and-donate-them">and donate them</p>
                  </h1>
                  <div class="cause-cards">
                    <div class="cards">
                      <img
                        class="cards-child"
                        loading="lazy"
                        alt=""
                        src="./public/group-3217.svg"
                      />
    
                      <img
                        class="cards-item"
                        loading="lazy"
                        alt=""
                        src="./public/group-3218.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="medical">
                  <div class="blog-card">
                    <div class="blog-card-child"></div>
                    <img
                      class="blog-card-item"
                      loading="lazy"
                      alt=""
                      src="./public/rectangle-2887@2x.png"
                    />
    
                    <div class="card-info">
                      <div class="type">
                        <div class="medical1">Medical</div>
                        <div class="card-title">
                          <div class="title3">
                            <div class="donate-for-jennys-container">
                              <p class="donate-for-jennys">Donate for Jenny’s</p>
                              <p class="treatment-and-medicine">
                                treatment and medicine.
                              </p>
                            </div>
                          </div>
                          <button class="button11">
                            <div class="donate-now1">Donate Now</div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="education">
                    <div class="blog-card1">
                      <div class="blog-card-inner"></div>
                      <img
                        class="image-icon"
                        loading="lazy"
                        alt=""
                        src="./public/rectangle-2889@2x.png"
                      />
    
                      <div class="card-info1">
                        <div class="type1">
                          <div class="education-type">
                            <div class="homeless">Homeless</div>
                            <div class="children-we-work">
                              Children we work with
                            </div>
                            <div class="lorem-ipsum-dolor-container">
                              <p class="lorem-ipsum-dolor">
                                Lorem ipsum dolor sit amet, consete
                              </p>
                              <p class="sadipscing-elitr-sed-diam-non">
                                <span>sadipscing elitr, sed diam nonumy</span>
                                <b class="b">....</b>
                              </p>
                            </div>
                          </div>
                          <div class="education1">
                            <div class="progress">
                              <div class="amount">
                                <div class="donatone">Donatone</div>
                                <div class="placeholder">85%</div>
                              </div>
                              <div class="bar">
                                <div class="bar-child"></div>
                                <div class="progress1"></div>
                              </div>
                            </div>
                            <div class="goal">
                              <div class="labels">
                                <div class="raised-8500">Raised: $8500</div>
                                <div class="goal-10000">Goal: $1,0000</div>
                              </div>
                              <button class="button12">
                                <div class="donate-now2">Donate Now</div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blog-card2">
                      <div class="rectangle-div"></div>
                      <img
                        class="rectangle-icon"
                        loading="lazy"
                        alt=""
                        src="./public/rectangle-2891@2x.png"
                      />
    
                      <div class="frame-div">
                        <div class="education-parent">
                          <div class="education2">Education</div>
                          <div class="help-for-education">Help For Education</div>
                          <div class="lorem-ipsum-dolor-container1">
                            <p class="lorem-ipsum-dolor1">
                              Lorem ipsum dolor sit amet, consete
                            </p>
                            <p class="sadipscing-elitr-sed-diam-non1">
                              <span>sadipscing elitr, sed diam nonumy</span>
                              <b class="b1">....</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="blog-card-child1"></div>
                      <div class="progress2">
                        <div class="amount1">
                          <div class="donated">
                            <div class="placeholder1">
                              <div class="donatone1">Donatone</div>
                              <div class="placeholder2">90%</div>
                            </div>
                            <div class="bar1">
                              <div class="bar-item"></div>
                              <div class="progress3"></div>
                            </div>
                          </div>
                          <div class="goal1">
                            <div class="labels1">
                              <div class="raised-9000">Raised: $9,000</div>
                              <div class="goal-100001">Goal: $10,000</div>
                            </div>
                            <button class="button13">
                              <div class="donate-now3">Donate Now</div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="testimonial">
          <div class="testimonial1">
            <div class="title4">
              <h2 class="testimonial2">Testimonial</h2>
              <h1 class="what-people-say">What People Say About Us</h1>
            </div>
            <div class="content7">
              <div class="testimonial3">
                <div class="navigation">
                  <div class="content8">
                    <img
                      class="image-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/image@2x.png"
                    />
    
                    <div class="content9">
                      <div class="name">
                        <div class="name1">
                          <b class="belli-smith">Belli Smith</b>
                          <div class="designer">Designer</div>
                        </div>
                        <img
                          class="icon6"
                          loading="lazy"
                          alt=""
                          src="./public/.svg"
                        />
                      </div>
                      <div class="centuries-but-also">
                        Centuries but also the leap into electronic
                        typesetting,established fact that a reader will
                        bdistracted the readable content.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navigation1">
                  <div class="content10">
                    <img
                      class="image-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/image-1@2x.png"
                    />
    
                    <div class="content11">
                      <div class="name2">
                        <div class="name3">
                          <b class="sara-taylor">Sara Taylor</b>
                          <div class="donator">Donator</div>
                        </div>
                        <img
                          class="icon7"
                          loading="lazy"
                          alt=""
                          src="./public/-1.svg"
                        />
                      </div>
                      <div class="centuries-but-also1">
                        Centuries but also the leap into electronic
                        typesetting,established fact that a reader will
                        bdistracted the readable content.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navigation2">
                <img
                  class="buttons-icon"
                  loading="lazy"
                  alt=""
                  src="./public/-2.svg"
                />
    
                <div class="line"></div>
                <img
                  class="buttons-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/-3.svg"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="statistics">
          <div class="container-parent">
            <div class="container">
              <div class="counter">
                <div class="counts">
                  <div class="numbers">
                    <div class="k">200k</div>
                  </div>
                  <div class="received-donations-from">
                    Received Donations From Our People
                  </div>
                </div>
                <div class="counts1">
                  <div class="k-wrapper">
                    <div class="k1">99K</div>
                  </div>
                  <div class="projects-done-with-container">
                    <p class="projects-done-with">Projects Done With</p>
                    <p class="the-help-of">The Help Of Donators</p>
                  </div>
                </div>
                <div class="counts2">
                  <div class="k-container">
                    <div class="k2">200k</div>
                  </div>
                  <div class="people-we-helped-container">
                    <p class="people-we-helped">People We Helped</p>
                    <p class="on-2020">on 2020</p>
                  </div>
                </div>
                <div class="volunteers">
                  <div class="number">
                    <div class="k3">10.7K</div>
                  </div>
                  <div class="with-our-volunteers">
                    With Our Volunteers We’ve Solved Many Causes
                  </div>
                </div>
              </div>
            </div>
            <div class="line1"></div>
            <div class="donors">
              <div class="container-group">
                <div class="container1">
                  <img
                    class="placeholder-icon"
                    loading="lazy"
                    alt=""
                    src="./public/01.svg"
                  />
                </div>
                <img
                  class="placeholder-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/02.svg"
                />
    
                <div class="placeholder3">
                  <img
                    class="placeholder-icon2"
                    loading="lazy"
                    alt=""
                    src="./public/03.svg"
                  />
                </div>
                <div class="placeholder4">
                  <img
                    class="placeholder-icon3"
                    loading="lazy"
                    alt=""
                    src="./public/04.svg"
                  />
                </div>
                <div class="logos">
                  <div class="container2">
                    <img
                      class="group-icon"
                      loading="lazy"
                      alt=""
                      src="./public/group.svg"
                    />
    
                    <img class="group-icon1" alt="" src="./public/group-1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer">
          <div class="content12">
            <div class="content13">
              <div class="content14">
                <div class="about2">
                  <div class="content15">
                    <img
                      class="logo-icon"
                      loading="lazy"
                      alt=""
                      src="./public/20@2x.png"
                    />
    
                    <div class="care-about-people-container">
                      <p class="care-about-people">
                        Care about people to transforming their lives and exudes a
                        positives Impressiono believe. fundraising
                      </p>
                      <p class="ngo-organizations">NGO organizations.</p>
                    </div>
                  </div>
                  <div class="follow">
                    <img
                      class="icons1"
                      loading="lazy"
                      alt=""
                      src="./public/1.svg"
                    />
    
                    <img
                      class="icons2"
                      loading="lazy"
                      alt=""
                      src="./public/2.svg"
                    />
    
                    <img
                      class="icons3"
                      loading="lazy"
                      alt=""
                      src="./public/3.svg"
                    />
    
                    <img
                      class="icons4"
                      loading="lazy"
                      alt=""
                      src="./public/4.svg"
                    />
                  </div>
                </div>
                <div class="text">
                  <div class="content16">
                    <div class="involved">
                      <b class="get-involved">Get Involved</b>
                      <div class="about-us-contact-container">
                        <p class="about-us1">About Us</p>
                        <p class="contact-us-volunteer">Contact us Volunteer</p>
                        <p class="causes1">Causes</p>
                        <p class="team">Team</p>
                      </div>
                    </div>
                    <div class="uitility">
                      <b class="utility">Utility</b>
                      <div class="style-guide-licences-container">
                        <p class="style-guide">Style Guide</p>
                        <p class="licences">Licences</p>
                        <p class="password">Password</p>
                        <p class="page">404 Page</p>
                        <p class="changelog">Changelog</p>
                      </div>
                    </div>
                    <div class="contact">
                      <b class="contact1">Contact</b>
                      <div class="cebu-city-philippines-container">
                        <p class="cebu-city-philippines">
                          6000 Cebu City Philippines
                        </p>
                        <p class="helpjuanbayangmailcom">
                          help.juanbayan&#64;gmail.com
                        </p>
                        <p class="p">0923 705 8623</p>
                      </div>
                    </div>
                    <div class="contact2"></div>
                  </div>
                </div>
              </div>
              <div class="copyright">
                <div class="line2"></div>
                <div class="copyright-2024">
                  Copyright © 2024 JuanBayan | A PLATFORM FOR DONATION
                  CROWDFUNDING AND COMMUNITY EMPOWERMENT IN CEBU CITY
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
</div>