.background,
.background1 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  display: none;
}
.background1 {
  top: 176.2px;
  left: -96px;
  background: linear-gradient(
    103.5deg,
    rgba(19, 35, 45, 0.69),
    rgba(29, 39, 45, 0)
  );
  z-index: 2;
}
.background-image {
  width: 100%;
  height: 1026.2px;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.background-image,
.image-196-icon,
.navbar-item-shape {
  position: absolute;
  margin: 0 !important;
}
.image-196-icon {
  width: 2100px;
  height: 1400px;
  top: -374px;
  left: -180px;
  object-fit: cover;
  z-index: 3;
}
.navbar-item-shape {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.43);
}
.navbar-item-divider {
  height: 73px;
  width: 73px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.juanbayan {
  display: inline-block;
  min-width: 122px;
}
.donate,
.juanbayan,
.search {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.search {
  display: inline-block;
  min-width: 81px;
}
.donate {
  min-width: 82px;
}
.about,
.donate,
.sign-in {
  display: inline-block;
}
.about {
  text-decoration: none;
  position: relative;
  color: inherit;
  min-width: 70px;
}
.sign-in {
  min-width: 75px;
}
.contact-us,
.sign-in {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.juanbayan-parent,
.navbar-links {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.juanbayan-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.navbar-links {
  width: 972px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.component-2,
.component-2-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.component-2 {
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  position: relative;
  gap: 147px;
}
.component-2-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
}
.need-help {
  margin: 0;
  width: 182px;
  position: relative;
  font-size: inherit;
  line-height: 108.3%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.being-life-saver,
.for-someone {
  margin: 0;
}
.being-life-saver-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-71xl);
  line-height: 108.3%;
  font-weight: 800;
  font-family: var(--font-shippori-mincho);
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.content1,
.poverty-icon {
  align-self: stretch;
  flex-shrink: 0;
}
.poverty-icon {
  height: 33px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.need-help1 {
  margin: 0;
  width: 182px;
  position: relative;
  font-size: inherit;
  line-height: 108.3%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.being-life-saver1,
.for-someone1 {
  margin: 0;
}
.being-life-saver-container1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-71xl);
  line-height: 108.3%;
  font-weight: 800;
  font-family: var(--font-shippori-mincho);
}
.title1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.content3,
.poverty-icon1 {
  align-self: stretch;
  flex-shrink: 0;
}
.poverty-icon1 {
  height: 33px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.donate1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.button1 {
  border-radius: var(--br-15xl);
  background-color: var(--color-salmon);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.discover {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 91px;
}
.button2 {
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-8xl);
  color: var(--color-darkslategray-100);
}
.button,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  flex-direction: row;
  gap: var(--gap-mini);
  font-size: var(--font-size-lg);
  font-family: var(--font-work-sans);
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 45.8px;
  gap: var(--gap-11xl);
  flex-shrink: 0;
}
.donate2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.button4 {
  border-radius: var(--br-15xl);
  background-color: var(--color-salmon);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.discover1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 91px;
}
.button5 {
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-8xl);
  color: var(--color-darkslategray-100);
}
.button3,
.content,
.hero-paragraph {
  display: flex;
  align-items: flex-start;
}
.button3 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-lg);
  font-family: var(--font-work-sans);
}
.content,
.hero-paragraph {
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  height: 442.8px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-11xl);
}
.hero-paragraph {
  width: 882px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 64px;
}
.need-help2 {
  margin: 0;
  width: 229px;
  position: relative;
  font-size: inherit;
  line-height: 108.3%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.being-life-saver2,
.for-someone2 {
  margin: 0;
}
.being-life-saver-container2 {
  margin: 0;
  position: relative;
  font-size: 116px;
  line-height: 108.3%;
  font-weight: 800;
  font-family: var(--font-shippori-mincho);
  display: inline-block;
  max-width: 129%;
  flex-shrink: 0;
}
.title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.content5,
.poverty-icon2,
.title2 {
  align-self: stretch;
  max-width: 100%;
}
.poverty-icon2 {
  height: 33px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.content5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.donate3 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-17xl);
  background-color: var(--color-salmon);
  border-radius: var(--br-15xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button7:hover {
  background-color: var(--color-indianred);
}
.discover2 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-8xl);
  background-color: var(--color-white);
  border-radius: var(--br-15xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button8:hover,
.button9:hover {
  background-color: var(--color-gainsboro);
}
.button6,
.content4,
.hero-content {
  display: flex;
  justify-content: flex-start;
}
.button6 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.content4,
.hero-content {
  flex-direction: column;
  max-width: 100%;
}
.content4 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 294px 146px 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  z-index: 4;
  margin-top: -351.1px;
  font-size: 63px;
}
.hero-content {
  width: 1048px;
  align-items: flex-end;
}
.header,
.hero-content-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero-content-wrapper {
  width: 1334px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.header {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 201.3px;
  gap: 11.3px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-sue-ellen-francisco);
}
.about-us {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 108.3%;
  font-weight: 400;
  font-family: inherit;
}
.help-people,
.our-main-goals {
  margin: 0;
}
.help-people-our-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.blank-line,
.juanbayan-is-a {
  margin: 0;
}
.whether-its-supporting {
  margin: 0;
  white-space: pre-wrap;
}
.juanbayan-is-a-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 130%;
  font-weight: 400;
  font-family: var(--font-work-sans);
  color: #444;
  text-align: justify;
}
.mission-statement {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  min-width: 660px;
  max-width: 100%;
}
.icon,
.icon1,
.icon2 {
  width: 27px;
  height: 27px;
  position: relative;
}
.icons,
.type-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons {
  gap: var(--gap-lg);
}
.type-icons {
  padding: var(--padding-7xs) 0 0;
}
.dress-donation,
.food-donation,
.money-donation {
  margin: 0;
}
.food-donation-money-container {
  position: relative;
  line-height: 215%;
  font-weight: 500;
}
.type-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 206px;
}
.icon3,
.icon4,
.icon5 {
  width: 27px;
  height: 27px;
  position: relative;
}
.icon-parent,
.type-labels-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-parent {
  gap: var(--gap-lg);
}
.type-labels-inner {
  padding: var(--padding-7xs) 0 0;
}
.education-donation,
.toys-donation,
.water-supplay {
  margin: 0;
}
.water-supplay-education-container {
  position: relative;
  line-height: 215%;
  font-weight: 500;
}
.donation,
.type-labels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.type-labels1 {
  flex: 1;
  gap: var(--gap-sm);
  min-width: 157px;
}
.donation {
  align-self: stretch;
  gap: var(--gap-3xl);
}
.total-donation {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.display-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chart-icon {
  align-self: stretch;
  height: 6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.collection-5m,
.goal-10m {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.goal-10m {
  display: inline-block;
  min-width: 121px;
}
.chart-details,
.display-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.chart-details {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--font-size-xl);
}
.chart,
.donate-now {
  color: var(--color-darkslategray-100);
}
.chart {
  width: 443px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-shippori-mincho);
}
.donate-now {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-work-sans);
  text-align: left;
  display: inline-block;
  min-width: 123px;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) 45px;
  background-color: var(--color-white);
  border-radius: var(--br-15xl);
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.button9,
.content6,
.donation-goal {
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.donation-goal {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: 51px var(--padding-21xl);
  box-sizing: border-box;
}
.donation-goal,
.impact,
.mission {
  display: flex;
  max-width: 100%;
}
.impact {
  width: 549px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  min-width: 549px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-work-sans);
}
.mission {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 82px;
}
.more-about {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 120px;
}
.about-content,
.button10 {
  justify-content: flex-start;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-21xl);
  background-color: var(--color-salmon);
  border-radius: var(--br-15xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.button10:hover {
  background-color: var(--color-indianred);
}
.about-content {
  align-self: stretch;
  flex-direction: column;
  gap: 89px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-shippori-mincho);
}
.about-content,
.about-wrapper,
.about1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.about1 {
  width: 1646px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.about-wrapper {
  width: 1908px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 7.3px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-salmon);
  font-family: var(--font-sue-ellen-francisco);
}
.causes-heading-child {
  width: 1920px;
  height: 1260px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.divider,
.latest-causes {
  position: absolute;
  z-index: 1;
}
.latest-causes {
  top: 0;
  left: 0;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 156px;
  height: 28px;
}
.divider {
  top: 21px;
  left: 168px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  width: 74px;
  height: 1px;
}
.causes-title {
  width: 241px;
  height: 28px;
  position: relative;
}
.and-donate-them,
.find-the-popular {
  margin: 0;
}
.find-the-popular-container {
  margin: 0;
  width: 662px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.cards-child,
.cards-item {
  height: 65.9px;
  width: 67.8px;
  position: relative;
  min-height: 66px;
  flex-shrink: 0;
  z-index: 1;
}
.cards {
  flex-direction: row;
  justify-content: flex-start;
  gap: 24.2px;
}
.cards,
.cause-cards,
.description {
  display: flex;
  align-items: flex-start;
}
.cause-cards {
  flex-direction: column;
  justify-content: flex-start;
  padding: 51.6px 0 0;
}
.description {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.blog-card-child {
  align-self: stretch;
  height: 732.5px;
  position: relative;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  display: none;
}
.blog-card-item,
.medical1 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.blog-card-item {
  align-self: stretch;
  height: 546px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.medical1 {
  width: 157.6px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.donate-for-jennys,
.treatment-and-medicine {
  margin: 0;
}
.donate-for-jennys-container {
  margin-right: -170.5px;
  width: 567.5px;
  height: 65.9px;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 143%;
  z-index: 1;
}
.title3 {
  width: 397px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.donate-now1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 127px;
}
.button11,
.card-title {
  flex-direction: row;
  flex-shrink: 0;
}
.button11 {
  cursor: pointer;
  border: 0;
  padding: 18px 70px;
  background-color: var(--color-royalblue);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button11:hover {
  background-color: #3b87e3;
}
.card-title {
  row-gap: 20px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
}
.blog-card,
.card-info,
.card-title,
.type {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.type {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.blog-card,
.card-info {
  box-sizing: border-box;
}
.card-info {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
}
.blog-card {
  width: 742.1px;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 0 0 59.6px;
  gap: var(--gap-11xl);
  min-width: 742.1px;
  z-index: 1;
}
.blog-card-inner,
.image-icon {
  align-self: stretch;
  position: relative;
}
.blog-card-inner {
  height: 732px;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  display: none;
}
.image-icon {
  height: 309.1px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.children-we-work,
.homeless {
  width: 99.3px;
  position: relative;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.children-we-work {
  width: 261.5px;
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-100);
}
.lorem-ipsum-dolor {
  margin: 0;
}
.b {
  font-family: var(--font-montserrat);
}
.sadipscing-elitr-sed-diam-non {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  text-transform: capitalize;
  color: var(--color-dimgray-200);
  z-index: 1;
}
.education-type {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-2);
}
.donatone,
.placeholder {
  width: 86px;
  position: relative;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.placeholder {
  width: 35.1px;
}
.amount {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bar-child,
.progress1 {
  position: absolute;
  top: 0;
  left: 0;
}
.bar-child {
  background-color: var(--color-turquoise);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.progress1 {
  background-color: var(--color-royalblue);
  width: 277.2px;
  height: 9.9px;
  z-index: 2;
}
.bar,
.progress {
  align-self: stretch;
}
.bar {
  height: 9.9px;
  position: relative;
  background-color: var(--color-turquoise);
  z-index: 1;
}
.progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-2);
}
.goal-10000,
.raised-8500 {
  width: 118.6px;
  position: relative;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.goal-10000 {
  width: 111.4px;
}
.labels {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.donate-now2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-lightseagreen);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.button12 {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen);
  padding: var(--padding-2xs) var(--padding-9xl) var(--padding-2xs)
    var(--padding-11xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.button12:hover,
.button13:hover {
  background-color: var(--color-mediumaquamarine-200);
  border: 1px solid var(--color-mediumaquamarine-100);
  box-sizing: border-box;
}
.goal {
  align-self: stretch;
  gap: var(--gap-20xl-6);
}
.education1,
.goal,
.type1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.education1 {
  align-self: stretch;
  gap: var(--gap-lgi-8);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.type1 {
  flex: 1;
  gap: 49.9px;
  max-width: 100%;
}
.blog-card1,
.card-info1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.card-info1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
  flex-shrink: 0;
}
.blog-card1 {
  flex: 1;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xl-6);
  gap: var(--gap-8xl-2);
  min-width: 240px;
  z-index: 1;
}
.rectangle-div,
.rectangle-icon {
  align-self: stretch;
  position: relative;
}
.rectangle-div {
  height: 732px;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  display: none;
}
.rectangle-icon {
  height: 309.1px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.education2,
.help-for-education {
  width: 102.9px;
  position: relative;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.help-for-education {
  width: 216.7px;
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-100);
}
.lorem-ipsum-dolor1 {
  margin: 0;
}
.b1 {
  font-family: var(--font-montserrat);
}
.sadipscing-elitr-sed-diam-non1 {
  margin: 0;
}
.lorem-ipsum-dolor-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  text-transform: capitalize;
  color: var(--color-dimgray-200);
  z-index: 1;
}
.education-parent,
.frame-div {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.education-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl-2);
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) 22.7px var(--padding-5xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.blog-card-child1 {
  width: 323.2px;
  height: 9.9px;
  position: relative;
  background-color: #c7e7df;
  display: none;
  max-width: 100%;
}
.donatone1,
.placeholder2 {
  width: 86px;
  position: relative;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.placeholder2 {
  width: 36.3px;
}
.placeholder1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bar-item,
.progress3 {
  position: absolute;
  top: 0;
  left: 0;
}
.bar-item {
  background-color: var(--color-turquoise);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.progress3 {
  background-color: var(--color-royalblue);
  width: 277.2px;
  height: 9.9px;
  z-index: 3;
}
.bar1,
.donated {
  align-self: stretch;
}
.bar1 {
  height: 9.9px;
  position: relative;
  background-color: var(--color-turquoise);
  z-index: 2;
}
.donated {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-2);
}
.goal-100001,
.raised-9000 {
  width: 122.3px;
  position: relative;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.goal-100001 {
  width: 111.4px;
}
.labels1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.donate-now3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-lightseagreen);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.amount1,
.button13,
.goal1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button13 {
  cursor: pointer;
  border: 1px solid var(--color-lightseagreen);
  padding: var(--padding-2xs) var(--padding-9xl) var(--padding-2xs)
    var(--padding-11xl);
  background-color: transparent;
  flex-direction: row;
  z-index: 1;
}
.amount1,
.goal1 {
  flex-direction: column;
}
.goal1 {
  align-self: stretch;
  gap: var(--gap-20xl-6);
}
.amount1 {
  flex: 1;
  gap: var(--gap-lgi-8);
  max-width: 100%;
}
.blog-card2,
.progress2 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.progress2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) 0 var(--padding-5xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.blog-card2 {
  flex: 1;
  box-shadow: 0 10px 25px rgba(37, 42, 52, 0.08);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xl-6);
  gap: var(--gap-8xl-2);
  min-width: 240px;
  z-index: 1;
}
.education {
  flex: 1;
  flex-direction: row;
  gap: 29px;
  min-width: 500px;
  color: var(--color-lightseagreen);
}
.causes-description,
.education,
.medical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.medical {
  align-self: stretch;
  flex-direction: row;
  gap: 53.9px;
  font-size: var(--font-size-base);
  color: var(--color-royalblue);
  font-family: var(--font-montserrat);
}
.causes-description {
  flex: 1;
  flex-direction: column;
  gap: 65.5px;
}
.causes-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 2px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-shippori-mincho);
}
.causes,
.causes-content,
.causes-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.causes-heading {
  flex: 1;
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: 103px 175px 189.5px;
  gap: var(--gap-5xl);
}
.causes {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 62.3px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.testimonial2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 105px;
}
.what-people-say {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 120%;
  font-weight: 800;
  font-family: var(--font-shippori-mincho);
  color: var(--color-darkslategray-100);
}
.title4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  max-width: 100%;
}
.image-icon1 {
  height: 257px;
  width: 164px;
  object-fit: cover;
}
.belli-smith,
.designer,
.image-icon1 {
  position: relative;
}
.designer {
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 85px;
}
.name1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon6 {
  height: 57px;
  width: 77.1px;
  position: relative;
}
.name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-xl);
}
.centuries-but-also {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
}
.content9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 223px;
}
.content8,
.content9,
.navigation {
  display: flex;
  max-width: 100%;
}
.content8 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.navigation {
  flex: 1;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-7xl);
  box-sizing: border-box;
  min-width: 380px;
}
.image-icon2 {
  height: 257px;
  width: 164px;
  position: relative;
  object-fit: cover;
}
.sara-taylor {
  position: relative;
  white-space: nowrap;
}
.donator {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 79px;
}
.name3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.icon7 {
  height: 57px;
  width: 77.1px;
  position: relative;
}
.name2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-xl);
}
.centuries-but-also1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
}
.content10,
.content11 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.content11 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 223px;
}
.content10 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xl);
}
.navigation1,
.testimonial3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.navigation1 {
  flex: 1;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-7xl);
  box-sizing: border-box;
  min-width: 380px;
}
.testimonial3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
}
.buttons-icon {
  height: 73px;
  width: 73px;
  position: relative;
  min-height: 73px;
}
.line {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  min-width: 289px;
  max-width: 100%;
}
.buttons-icon1 {
  height: 73px;
  width: 73px;
  position: relative;
  min-height: 73px;
}
.content7,
.navigation2,
.testimonial1 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.navigation2 {
  width: 590px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.content7,
.testimonial1 {
  flex-direction: column;
  justify-content: flex-start;
}
.content7 {
  width: 1200.1px;
  gap: var(--gap-14xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-shippori-mincho);
}
.testimonial1 {
  width: 1734px;
  padding: 0 21px 165px var(--padding-xl);
  box-sizing: border-box;
  gap: 64px;
}
.testimonial {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-salmon);
  font-family: var(--font-sue-ellen-francisco);
}
.k {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 41px;
}
.received-donations-from {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  text-align: center;
}
.counts {
  width: 239px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.k1 {
  position: relative;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  min-width: 128px;
}
.k-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 42px;
}
.projects-done-with,
.the-help-of {
  margin: 0;
}
.projects-done-with-container {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  text-align: center;
}
.counts1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.k2 {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.k-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
}
.on-2020,
.people-we-helped {
  margin: 0;
}
.people-we-helped-container {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  text-align: center;
}
.counts2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.k3 {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 58px 0 57px;
}
.with-our-volunteers {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-family: var(--font-work-sans);
  color: var(--color-dimgray-100);
  text-align: center;
}
.container,
.counter,
.volunteers {
  display: flex;
  align-items: flex-start;
}
.volunteers {
  width: 300px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.container,
.counter {
  flex-direction: row;
  max-width: 100%;
}
.counter {
  justify-content: flex-start;
  gap: 80px;
}
.container {
  justify-content: flex-end;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
}
.line1,
.placeholder-icon {
  align-self: stretch;
  position: relative;
}
.line1 {
  height: 1px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.placeholder-icon {
  height: 43.8px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.container1 {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 0;
  box-sizing: border-box;
}
.placeholder-icon1 {
  height: 105.7px;
  width: 106.7px;
  position: relative;
  mix-blend-mode: multiply;
}
.placeholder-icon2 {
  align-self: stretch;
  height: 44.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder3 {
  width: 170.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.7px 0 0;
  box-sizing: border-box;
}
.placeholder-icon3 {
  align-self: stretch;
  height: 45.5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder4 {
  width: 151px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.1px 0 0;
  box-sizing: border-box;
}
.group-icon,
.group-icon1 {
  align-self: stretch;
  height: 30.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.group-icon1 {
  height: 8.5px;
}
.container2,
.logos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container2 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.logos {
  width: 121.8px;
  align-items: flex-start;
  padding: 28.5px 0 0;
  box-sizing: border-box;
}
.container-group {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container-group,
.container-parent,
.donors {
  display: flex;
  max-width: 100%;
}
.donors {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px 0 var(--padding-mid);
  box-sizing: border-box;
}
.container-parent {
  width: 1200px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 49.5px;
}
.statistics {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 12.9px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-shippori-mincho);
}
.logo-icon {
  width: 242.5px;
  height: 84px;
  position: relative;
  object-fit: cover;
}
.care-about-people,
.ngo-organizations {
  margin: 0;
}
.care-about-people-container {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.content15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icons1,
.icons2,
.icons3,
.icons4 {
  height: 60px;
  width: 60px;
  position: relative;
  min-height: 60px;
}
.about2,
.follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.about2 {
  width: 363px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
  min-width: 363px;
  max-width: 100%;
}
.get-involved {
  position: relative;
}
.about-us1,
.contact-us-volunteer {
  margin: 0;
}
.causes1 {
  margin: 0;
  color: var(--color-salmon);
}
.team {
  margin: 0;
}
.about-us-contact-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 186%;
  font-family: var(--font-work-sans);
}
.involved {
  width: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  flex-shrink: 0;
}
.utility {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.changelog,
.licences,
.page,
.password,
.style-guide {
  margin: 0;
}
.style-guide-licences-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 186%;
  font-family: var(--font-work-sans);
}
.uitility {
  width: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  flex-shrink: 0;
}
.contact1 {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.cebu-city-philippines,
.helpjuanbayangmailcom,
.p {
  margin: 0;
}
.cebu-city-philippines-container {
  width: 304px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 186%;
  font-family: var(--font-work-sans);
  display: inline-block;
  min-height: 185px;
}
.contact,
.contact2 {
  width: 250px;
  flex-shrink: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.contact2 {
  height: 76px;
}
.content16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: 70px;
}
.content14,
.text {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.text {
  flex: 1;
  background-color: #384c56;
  flex-direction: column;
  justify-content: center;
  padding: 56px 49px;
  min-width: 630px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-shippori-mincho);
}
.content14 {
  width: 1406px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: 34px;
}
.copyright-2024,
.line2 {
  position: relative;
  box-sizing: border-box;
}
.line2 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #465a64;
}
.copyright-2024 {
  width: 1153px;
  line-height: 144.52%;
  display: inline-block;
  max-width: 100%;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.content13,
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.content13 {
  flex: 1;
  gap: 88px;
}
.content12 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 92px var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.content12,
.footer,
.landing-page {
  display: flex;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  gap: 129.7px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1600px) {
  .impact {
    flex: 1;
  }
  .mission {
    flex-wrap: wrap;
  }
  .blog-card {
    flex: 1;
  }
  .medical {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .navbar-links {
    display: none;
  }
  .component-2 {
    gap: 73px;
  }
  .hero-paragraph {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
  }
  .content4,
  .header,
  .hero-paragraph {
    box-sizing: border-box;
  }
  .content4 {
    padding-right: 147px;
  }
  .header {
    padding-bottom: 131px;
  }
  .card-title,
  .description {
    flex-wrap: wrap;
  }
  .blog-card,
  .education {
    min-width: 100%;
  }
  .causes-heading {
    padding: 67px 87px 123px;
    box-sizing: border-box;
  }
  .causes {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .counter {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }
  .about2 {
    flex: 1;
  }
  .content16 {
    flex-wrap: wrap;
    gap: 35px;
  }
  .text {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .content14 {
    flex-wrap: wrap;
  }
  .content13 {
    gap: var(--gap-25xl);
  }
  .landing-page {
    gap: 65px;
  }
}
@media screen and (max-width: 900px) {
  .component-2 {
    gap: 37px;
  }
  .need-help {
    font-size: var(--font-size-21xl);
    line-height: 43px;
  }
  .being-life-saver-container {
    font-size: var(--font-size-26xl);
    line-height: 58px;
  }
  .need-help1 {
    font-size: var(--font-size-21xl);
    line-height: 43px;
  }
  .being-life-saver-container1 {
    font-size: var(--font-size-26xl);
    line-height: 58px;
  }
  .need-help2 {
    font-size: var(--font-size-31xl);
    line-height: 55px;
  }
  .being-life-saver-container2 {
    font-size: 58px;
    line-height: 75px;
  }
  .content4,
  .header {
    box-sizing: border-box;
  }
  .content4 {
    gap: var(--gap-mini);
    padding-right: 73px;
    padding-bottom: 95px;
  }
  .header {
    padding-bottom: 85px;
  }
  .about-us,
  .help-people-our-container {
    font-size: var(--font-size-32xl);
    line-height: 55px;
  }
  .help-people-our-container {
    line-height: 61px;
  }
  .juanbayan-is-a-container {
    font-size: 26px;
    line-height: 33px;
  }
  .mission-statement {
    min-width: 100%;
  }
  .type-labels {
    flex: 1;
  }
  .donation {
    flex-wrap: wrap;
  }
  .content6 {
    gap: var(--gap-xl);
  }
  .donation-goal {
    padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .impact {
    min-width: 100%;
  }
  .mission {
    gap: 41px;
  }
  .about-content {
    gap: var(--gap-25xl);
  }
  .find-the-popular-container {
    font-size: var(--font-size-21xl);
    line-height: 40px;
  }
  .blog-card {
    padding-bottom: 39px;
    box-sizing: border-box;
  }
  .education {
    flex-wrap: wrap;
  }
  .medical {
    gap: 27px;
  }
  .causes-description {
    gap: var(--gap-14xl);
  }
  .causes-heading {
    padding: 44px 43px 80px;
    box-sizing: border-box;
  }
  .causes {
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .testimonial2 {
    font-size: 28px;
    line-height: 30px;
  }
  .what-people-say {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .image-icon1 {
    flex: 1;
  }
  .content8 {
    flex-wrap: wrap;
  }
  .image-icon2 {
    flex: 1;
  }
  .content10 {
    flex-wrap: wrap;
  }
  .content7,
  .testimonial3 {
    gap: var(--gap-base);
  }
  .testimonial1 {
    gap: var(--gap-13xl);
    padding-bottom: 107px;
    box-sizing: border-box;
  }
  .k,
  .k1,
  .k2,
  .k3 {
    font-size: var(--font-size-29xl);
    line-height: 58px;
  }
  .counter {
    gap: var(--gap-xl);
  }
  .container-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-parent {
    gap: var(--gap-6xl);
  }
  .content16 {
    gap: var(--gap-mid);
  }
  .text {
    min-width: 100%;
  }
  .content14 {
    gap: var(--gap-mid);
  }
  .content13 {
    gap: var(--gap-3xl);
  }
  .content12 {
    padding-top: 60px;
    box-sizing: border-box;
  }
  .landing-page {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .component-2 {
    gap: var(--gap-lg);
  }
  .need-help {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .being-life-saver-container {
    font-size: var(--font-size-8xl);
    line-height: 39px;
  }
  .need-help1 {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .being-life-saver-container1 {
    font-size: var(--font-size-8xl);
    line-height: 39px;
  }
  .button {
    flex-wrap: wrap;
  }
  .content2 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .button3 {
    flex-wrap: wrap;
  }
  .content {
    height: auto;
  }
  .need-help2 {
    font-size: var(--font-size-19xl);
    line-height: 41px;
  }
  .being-life-saver-container2 {
    font-size: var(--font-size-16xl);
    line-height: 50px;
  }
  .button6 {
    flex-wrap: wrap;
  }
  .content4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .about-us,
  .help-people-our-container {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .help-people-our-container {
    line-height: 46px;
  }
  .juanbayan-is-a-container {
    font-size: 19px;
    line-height: 25px;
  }
  .food-donation-money-container,
  .water-supplay-education-container {
    font-size: var(--font-size-base);
    line-height: 34px;
  }
  .total-donation {
    font-size: var(--font-size-xl);
    line-height: 24px;
  }
  .collection-5m,
  .goal-10m {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .display-text1 {
    flex-wrap: wrap;
  }
  .mission {
    gap: var(--gap-xl);
  }
  .about-content {
    gap: var(--gap-3xl);
  }
  .find-the-popular-container {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .donate-for-jennys-container {
    font-size: var(--font-size-xl);
    line-height: 22px;
  }
  .button11 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .children-we-work {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .amount,
  .labels {
    flex-wrap: wrap;
  }
  .goal {
    gap: var(--gap-xl);
  }
  .type1 {
    gap: var(--gap-6xl);
  }
  .help-for-education {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .labels1,
  .placeholder1 {
    flex-wrap: wrap;
  }
  .goal1 {
    gap: var(--gap-xl);
  }
  .causes-description {
    gap: var(--gap-base);
  }
  .testimonial2 {
    font-size: 21px;
    line-height: 23px;
  }
  .what-people-say {
    font-size: 24px;
    line-height: 29px;
  }
  .belli-smith {
    font-size: var(--font-size-xl);
  }
  .designer {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .name {
    flex-wrap: wrap;
  }
  .centuries-but-also {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .navigation {
    min-width: 100%;
  }
  .sara-taylor {
    font-size: var(--font-size-xl);
  }
  .donator {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .name2 {
    flex-wrap: wrap;
  }
  .centuries-but-also1 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .navigation1 {
    min-width: 100%;
  }
  .testimonial1 {
    gap: var(--gap-base);
  }
  .k {
    font-size: var(--font-size-17xl);
    line-height: 43px;
  }
  .received-donations-from {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .k1 {
    font-size: var(--font-size-17xl);
    line-height: 43px;
  }
  .projects-done-with-container {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .k2 {
    font-size: var(--font-size-17xl);
    line-height: 43px;
  }
  .people-we-helped-container {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .k3 {
    font-size: var(--font-size-17xl);
    line-height: 43px;
  }
  .number {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .care-about-people-container,
  .with-our-volunteers {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .about2 {
    min-width: 100%;
  }
  .get-involved {
    font-size: var(--font-size-xl);
  }
  .about-us-contact-container {
    font-size: var(--font-size-base);
    line-height: 30px;
  }
  .utility {
    font-size: var(--font-size-xl);
  }
  .style-guide-licences-container {
    font-size: var(--font-size-base);
    line-height: 30px;
  }
  .contact1 {
    font-size: var(--font-size-xl);
  }
  .cebu-city-philippines-container {
    font-size: var(--font-size-base);
    line-height: 30px;
  }
  .text {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;

  }

}