<div class="card mb-4">
    <div class="card-header">
        <h2 class="mt-2">Edit Account</h2>
    </div>
    <div class="card-body shadow">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>First Name</label>
                    <input type="text" formControlName="acc_firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_firstname.errors }" />
                    <div *ngIf="submitted && f.acc_firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_firstname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Last Name</label>
                    <input type="text" formControlName="acc_lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_lastname.errors }" />
                    <div *ngIf="submitted && f.acc_lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_lastname.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-7">
                    <label>Email</label>
                    <input type="text" formControlName="acc_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_email.errors }" />
                    <div *ngIf="submitted && f.acc_email.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_email.errors.required">Email is required</div>
                        <div *ngIf="f.acc_email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Phone Number</label>
                    <input type="text" formControlName="acc_pnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_pnumber.errors }" />
                    <div *ngIf="submitted && f.acc_pnumber.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_pnumber.errors.required">Phone Number is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Role</label>
                    <select formControlName="acc_role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_role.errors }">
                        <option value="">Select role</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <div *ngIf="submitted && f.acc_role.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_role.errors.required">Role is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Status</label>
                    <select formControlName="acc_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_status.errors }">
                        <option value=""></option>
                        <option value="Active">Activate</option>
                        <option value="Inactive">Deactivate</option>
                    </select>
                    <div *ngIf="submitted && f.acc_status.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_status.errors.required">Status is required</div>
                    </div>
                </div>
            </div>
        <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="goBack()">Close</button>
            </div>
        </form>
    </div>
</div>