<div class="container-fluid d-flex justify-content-center align-items-center bud">
    <div class="row">
        <div class="">
            <div class="">    
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<style>
    /* Ensure container takes full viewport height */
    .container-fluid {
        height: 90vh !important; /* Full viewport height */
    }

    /* Center content horizontally and vertically */
    .d-flex {
        display: flex !important;
    }

    .justify-content-center {
        justify-content: center !important;
    }

    .align-items-center {
        align-items: center !important;
    }

    /* Optional: Add margin to the card for spacing */
    .card {
        margin: 20px !important; /* Adjust as needed */
    }

    .bud {
        background: #ffffff !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        font-family: 'Montserrat', sans-serif !important;
        height: 90vh !important;
        margin: -20px 0 50px !important;
    }

</style>


-->
