<h3 class="card-header">Register</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-5">
                <label>First Name</label>
                <input type="text" formControlName="acc_firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_firstname.errors }" />
                <div *ngIf="submitted && f.acc_firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.acc_firstname.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Last Name</label>
                <input type="text" formControlName="acc_lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_lastname.errors }" />
                <div *ngIf="submitted && f.acc_lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.acc_lastname.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Gender</label>
                <select formControlName="acc_gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_gender.errors }">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div *ngIf="submitted && f.acc_gender.errors" class="invalid-feedback">
                    <div *ngIf="f.acc_gender.errors.required">Gender is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Role</label>
            <select formControlName="acc_role" class="form-control">
                <option value="" disabled selected>Select Role</option>
                <option value="Donor">Donor</option>
                <option value="Beneficiary">Beneficiary</option>
            </select>
            <div *ngIf="submitted && f.acc_role.errors" class="invalid-feedback">
                <div *ngIf="f.acc_role.errors.required">Role is required</div>
            </div>
        </div>        
        <div class="form-group">
            <label>Contact Number</label>
            <input type="text" formControlName="acc_pnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_pnumber.errors }" />
            <div *ngIf="submitted && f.acc_pnumber.errors" class="invalid-feedback">
                <div *ngIf="f.acc_pnumber.errors.required">Contact Number is required</div>
                <div *ngIf="f.acc_pnumber.errors.pattern">Contact Number must be a valid phone number</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="acc_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_email.errors }" />
            <div *ngIf="submitted && f.acc_email.errors" class="invalid-feedback">
                <div *ngIf="f.acc_email.errors.required">Email is required</div>
                <div *ngIf="f.acc_email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Password</label>
                <input type="password" formControlName="acc_passwordHash" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_passwordHash.errors }" />
                <div *ngIf="submitted && f.acc_passwordHash.errors" class="invalid-feedback">
                    <div *ngIf="f.acc_passwordHash.errors.required">Password is required</div>
                    <div *ngIf="f.acc_passwordHash.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="../login" href="" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
